# Firebase
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_APP_ID=

# Firebase Admin (JSON service account - base64 encoded)
FIREBASE_ADMIN_JSON=

# Mercado Pago
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_ACCESS_TOKEN=

# Email (Resend)
RESEND_API_KEY=

# Admin emails (para notificaciones)
ADMIN_EMAILS=flor@dulcehogar.com,esteban@dulcehogar.com

# App URL
NEXT_PUBLIC_API_URL=http://localhost:3000
